<a href="https://colab.research.google.com/github/TheDataFestAI/learn_flask/blob/main/learning_notebooks/learn_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Learn Python

Learn Python in step by step.

# What is Programming Language?

1. **Programming language:** through this, humans can instruct or interact with the computer instead of writing in binary code as computer only understand binary digits (0, 1).

## Classification of Programming Language:

1. **Procedural Programming language:** In 1980's most of the problems was mathematical or statistical. That time it's enough to instruct computer through a conditional logic or pattern like flowchart diagram. In this language, we break the problem statement into smaller chunks and made binary decisions. `Example: C language`


2. **Object Oriented Language:** In 2000's when internet was invented, humans instruct computer to solve real world problems by defining different entities as different objects by specifying their behaviour/characteristics. Also create relationships between the objects (oops concept). `Example: C++ , Java`

3. **Functional Programming:** OOPS required more lines of code to develop an application and it's process little slowly, functional programming became very famous to write quick/efficient applications and faster executions. `Example: Scala`

## Compiled and Interpreted language:

## High level and low level programming language:

# What is Python?

1. Python is **Procedural, Object orientated and Functional language**.
2. Its a **interpreted language**.
3. Its a **high level language**.
4. Python is **case sensitive**. Means in `var1 = "aBc" and Var1 = "aBc"`, both var1 and Var1 are not same

1. We are currently using Python 3.x instead of 2.x because most of the industry now uses Python 3.
2.

# Python Installation:

1. Goto "https://www.python.org/downloads/" url and download first and then install the python in your local machine or use google colab which has readymade python environment with other python packages

# Python Keywords:

1. `python keywords` are **reserved words** by python and can't be used in names

2. Find list of python keywords-
    ```shell
    help('keywords')
    ```

# Comments:

1. Its a additional information
2. Python interpreter does not execute this line

## single line comments:

In [ ]:
# it is a single line comments
var_a = 1  # another single line comments

## multi-line comments:

In [ ]:
'''This is a multi line comments'''

'''
This is a multi line comments 1
This is a multi line comments 2
'''

"""This is also same"""

## Doc-string comments:

1. specify some documentational comments or details under functions or classes or python files.

# Indentation:

1. Its a discipline of writing the code in python
2. Its avoid to use ";" at the end of each statement like java.

# Python Identifiers:

1. `Identifiers` are those which represents/identifies variable name, class name or function name.

2. Basically it identifies either value or function or class or file.

3. There are rules for python identifiers:
    1. identifier name can contains alphabets, numeric values and only "_" (underscore) as special characters.
    2. it should either start with only underscore or alphabets
    3. name sholud be meaningful

## Valid Identifiers
```python
_abc = 123
abc = 123
ab_c = 123
abc_123 = 123
```

## Invalid Identifiers
```python
ab-c = 123  # hypen as special char is not allowed
12_abc = 123  # name can't start with numeric
```

## *(trick)* print is valid identifier

In [ ]:
print = 10
print

10

# Differences between Identifiers and Variables


id | Identifiers | Variables
:--- | --- | ---
1 | `Identifiers` are those which represents/identifies variable name, class name or function name | `variable` indicates certain value
2 | `a = 123 or a = myfunc()` | `a = 123`

# Namespaces and Scopes:

1. `Namespace` is a system that has **a unique name for each and every object in Python**. An object might be a variable or a method.

2. Different types of Namespaces:
    1. Built-In Namespace
    2. Global Namespace
    3. Local Namespace

3. Lifetime of a namespace:
    1. A lifetime of a namespace depends upon the scope of objects, if the scope of an object ends, the lifetime of that namespace comes to an end. Hence, it is not possible to access the inner namespace’s objects from an outer namespace.

1. `Scopes` refers to the **coding region from which a particular Python object is accessible**. Hence one cannot access any particular object from anywhere from the code, the accessing has to be allowed by the scope of the object.

2. Different types of Scopes:
    1. global (specify explicitly)
    2. local (default)
    3. nonlocal (specify explicitly)

```python
# global
def outer_func():
    # local
    def inner_func():
        # local
        # nonlocal, neither local to "inner_func" nor global, scope is refer to "outer_func"
```

In [ ]:
"""
1. var: any variable initialized in outer scope, can be accessed from inner scope
2. var1: same varible with different scopes (function and nested function)
"""

def parent():
    var = 5
    var1 = 10
    def child():
        # "var" has scope across entire parent(), will be accessible from child()
        print(f"child: id of var: {id(var)}, value: {var}")

        # here "var1" again initialized, and it has different scope now
        var1 = 20
        print(f"child: id of var1: {id(var1)}, value: {var1}")

    print(f"parent: id of var: {id(var)}, value: {var}")
    print(f"parent: id of var1: {id(var1)}, value: {var1}")
    print()
    child()
parent()

## global and nonlocal

In [ ]:
"""
UnboundLocalError:
    1. local variable 'var1' referenced before assignment (will solve by global)
    2. local variable 'var2' referenced before assignment (will solve by nonlocal)
"""
var1 = 1
def parent():
    try:
        var1 = var1 + 1 # to initialize "var1", it cannot find the value of "var1"
        var2 = 10

        def child():
            var2 = var2 + 5  # to initialize "var2", it cannot find the value of "var2"
            print(f"child var2: {var2}, {id(var2)}")
        print(f"parent var2: {var2}, {id(var2)}")
        child()
    except Exception as e:
        print(f"error occured: {type(e)}, {e}")
parent()

In [ ]:
# Use of nonlocal
# Use of global

var1=1  # global, used global keyward
var2=5  # global,

def parent():
    global var1
    var1 = var1 + 1
    var2 = 10  # local to parent

    def child():
        global var1
        var1 = var1 + 1
        print(f"child var1: {var1}")

        nonlocal var2  # as var2 is nonlocal to child(), it will refer parent var2, not global var2
        var2 = var2 + 5
        print(f"child var2: {var2}, {id(var2)}\n")

    print("before calling child()")
    print(f"parent var1: {var1}")
    print(f"parent var2: {var2}, {id(var2)}\n")

    child()

    print("after calling child()")
    print(f"parent var1: {var1}")
    print(f"parent var2: {var2}, {id(var2)}\n")

print("before calling parent()")
print(f"parent var1: {var1}")
print(f"grand parent var2: {var2}, {id(var2)}\n")

parent()

print("after calling parent()")
print(f"parent var1: {var1}")
print(f"grand parent var2: {var2}, {id(var2)}")

# Statements:

1. lines of code. Can be multiple lines of code.
2. Its executed and evaluated some result

## Assigment Statements:

In [ ]:
a = 123
name = "indra"

## Expression Statements:

In [ ]:
x = 1
add = x + 1  # expression, where operations happend and store the result into variable
print(add)

## Conditional Statements:

### if-else:

In [ ]:
var1 = "abc"

if type(var1) == str:
    print("its string variable")
else:
    print("its not string variable")

its string variable

### if-elif-else:

1. Its a if-else ladder

In [ ]:
str1 = "hello World!!"

if "Hello" in str1:
    print("Hello is present")
elif "hello" in str1:
    print("hello is present")
else:
    print("Hello or hello is not present")

hello is present

### nested if-else block:

## Loop Statements:

### for loop

In [ ]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [ ]:
word = "abcdefg"
for i in word:
    print(i)

a
b
c
d
e
f
g

### while loop

In [ ]:
word = "abcdefg"
index = 0

while index < len(word):
    print(word[index])
    index += 1

a
b
c
d
e
f
g

## function call statement:

In [ ]:
l = len("1234")  # len() is a function and called
print("Hello Pal!!")  # print() is a function and called

## Other Statement:

### break statement:

In [ ]:
for i in range(1,5):
    if i == 3:
        break
    print(i)

1
2

### continue statement:

In [ ]:
for i in range(1,5):
    if i == 3:
        continue
    print(i)

1
2
4

### return statement:

In [ ]:
def myfunc(a,b):
    return a+b

c = myfunc(1,2)
print(c)

3

### pass statement:

In [1]:
class Simple:
    pass

simple = Simple()

### import statement:

In [ ]:
import pandas as pd

import os
import sys

from datetime import (datetime, timedelta)

### del statement:

In [ ]:
l1 = [1,2]

del l1

# Python Datatypes:

## int()

In [ ]:
i = -2
j = 4
print(i, type(i), j, type(j))

-2 <class 'int'> 4 <class 'int'>

## float()

In [ ]:
a = 1.1
b = 1/1
print(a, type(a), b, type(b))

1.1 <class 'float'> 1.0 <class 'float'>

## str():

In [ ]:
# bytes to string conversion
# different types to use print function with formatted string

b = b"hello world"
print(f"bytes value: {b}, type: {type(b)}")

# if you are not passing "encoding" parameter in str(), it will keep b"<string>" instead of <string>
s = str(b)
print(f"bytes string value: {s}, type: {type(s)}")

s1 = str(b, "UTF-8")
print(f"string value: {s1}, type: {type(s1)}")

bytes value: b'hello world', type: <class 'bytes'>
bytes string value: b'hello world', type: <class 'str'>
string value: hello world, type: <class 'str'>

# Variable:

1. `variable` indicates certain value.

## (*tricks*) Integer variable, its not refer same ofject

In [ ]:
# both a and b are pointing to same value
# both a and b has same memory location
a = 256
b = 256
print(f"a: {id(a)}")
print(f"b: {id(b)}")

# in backend, `cpython` compile the python code to bytecode for machine readable and its store `-5 to 256` integer values in array of object, and refer the same object.
# in 257, c, d are not refering same object
c = 257
d = 257
print(f"c: {id(c)}")
print(f"d: {id(d)}")

# Python String:

1. Python string inbuilt functions:

```python
sample_str = "i love india"
sample_list = ['i', 'love', 'india']
```

id | string methods | description | nexamples
:--- | :---: | :--- | ---
1. | upper() | convert the string to upper case | `sample_str.upper() -> 'I LOVE INDIA'`
2. | lower() | convert the string to lower case | `sample_str.lower() -> 'i love india'`
3. | title() | made upper case of each letter | `sample_str.title() -> 'I Love India'`
4. | capitalize() | made upper case of first letter only | `sample_str.capitalize() -> 'I love india'`
5. | split(\<split_char\>) | split the sentence based on split_char | `sample_str.split(" ") -> ['i', 'love', 'india']`
6. | join() | join the list of words into 1 sentence | `", ".join(sample_list) -> 'i, love, india'`
7. | | |
8. | | |



# Type casting

## convert string to int

1. `convert string to float first and then convert to int` else you will get error if string item has already floating/decimal point.

2. This is is explicit type casting

In [ ]:
a = "1.6"
int_a = int(float(a))

print(f"original str a: {a}, \nfloat(a): {float(a)} \nint(a): {int(float(a))}")

original str a: 1.6,
float(a): 1.6
int(a): 1

## implicit type casting

In [ ]:
a = 3
b = 6.5
c = a+b  # python decide its type as float
print(c, type(c))

9.5 <class 'float'>

## (trick) convert "0" and 0 to bool

In [ ]:
print(bool(0))  # 0 consider as False
print(bool(""))  # empty string consider as False
print(bool(-2))
print(bool(100))

False
False
True
True

## Refer integer variable, multiple times

In [ ]:
i = 257

e = i
f = i
g = h = i

print(f"e: {e}, {id(e)}")
print(f"f: {f}, {id(f)}")
print(f"g: {g}, {id(g)}")
print(f"h: {h}, {id(h)}")
print(f"i: {i}, {id(i)}")

# Python Collections

## List vs Tupple vs Set vs Dict

| list | tupple | set | dict |
| --- | --- | --- | --- |
| list() or "[]" | tupple() or "()" | set() | dict() or "{}" |
| [1, {1,4,7}, 'b', (1,2), 2.0, True, {"key": "val"}] | (1, "a", {1, 2}, [1, 2], (1,2)) | {1, 2, "a", (1, 2)} | {1: "value1", "key2": [1,2], (1,2): (2,3)} |
| not immutable | **yes, immutable (hashable)**, can't change the element | not immutable | not immutable |
| list element can be heterogenious | tupple element can be heterogenious | set element is heterogenious and should be **hashable(int, str, tupple)** | `keys should be hashable(int, str, tupple)`, values can be heterogenious |
| ordered collection | ordered collection | **unordered collection** | ordered collection (Python 3.7 and above) |
| support duplicate elements | support duplicate elements | **has no duplicate elements** | `has no duplicate keys` |

## Collection - list():

In [ ]:
ls1 = list()
ls2 = []

print(f"ls1: {ls1}, {type(ls1)}")
print(f"ls2: {ls2}, {type(ls2)}")

if ls1 is ls2:
    print("both are same")
else:
    print("both are not same")

ls1: [], <class 'list'>
ls2: [], <class 'list'>
both are not same

### list: insert()

```python
insert(<index>, <value>)
```

In [ ]:
ls8 = [1,3]
ls8.insert(1, "2")
print(ls8)

[1, '2', 3]

### list: append()

1. append takes individual items and insert directly

In [ ]:
ls5 = [1,2]
ls6 = [2,3]
print(f"original list: {ls5}")
ls5.append(ls6)
print(f"original list after append: {ls5}")

### list: extend()

1. extend takes iterable items and insert single element from that iterable items

In [ ]:
ls5 = [1,2]
ls6 = [2,3]

print(f"original list: {ls5}")
ls5.extend(ls6)
print(f"original list after extend: {ls5}")

### list: sort()

In [ ]:
ls3 = [1, 2,5, 3, 4]

print(f"original list before sorting: {ls3}")
ls3.sort()
print(f"original list after sorting: {ls3}")

### list: remove() and pop()

1. **remove()** takes actual value as parameter which will be removed.
2. **pop(index=-1)**, always delete from last element, but can delete from specified index

In [ ]:
ls7 = [1,"pal", 2,3,4, "indra"]
print(f"ls7: {ls7}")

# removing "indra"
out = ls7.remove("indra")
print(f"after removing 'indra', ls7: {ls7}, out: {out}")

# remove from last element
out = ls7.pop()
print(f"after remove from last element, ls7: {ls7}, out: {out}")

# remove 2nd element, "pal"
out = ls7.pop(1)  # <del ls7[1]> also doing same
print(f"after remove from 2nd element, ls7: {ls7}, out: {out}")

### list: count() and index()

1. count() will give total count of that element occured
2. index() will give first index value of the element

In [ ]:
ls8 = [1,4,2,5,3,4]

print(f"count: {ls8.count(4)}")
print(f"index: {ls8.index(4)}")

count: 2
index: 1

### list comprehension

In [ ]:
a = [i for i in range(1,6) if i % 2 == 0]
print(a)

[2, 4]

### list: extras

In [ ]:
# list is heterogenious

lst_3 = [1, {1,4,7}, 'b', (1,2), 2.0, True, {"key": "val"}]
print(f"{lst_3=}")

In [ ]:
# remove duplicates from list

ls4 = [1, 2,5, 3,5, 4, 2]

print(f"original list: {ls4}")
set1 = set(ls4)
ls4 = list(set1)
print(f"original list after remove duplicates: {ls4}")

In [ ]:
# del() vs pop() difference in list

ls5 = [1,2,3,4]

del(ls5[0])  # will remove the element but will not return anything
ls5.pop(0)  # will remove the 0th element and will return the element

2

## Collection - tupple():

1. tupple is immutable

### tupple: "+" operator

In [ ]:
# tupple can be added and multiplied
t1 = 1,
t2 = (1,2,3)

print(f"memory of t2 before concat, {id(t2)} and t2: {t2}")
t2 += t1
print(f"memory of t2 after concat, {id(t2)} and t2: {t2}")

memory of t2 before concat, 134899427587136 and t2: (1, 2, 3)
memory of t2 after concat, 134899408088944 and t2: (1, 2, 3, 1)

### tupple: "*" operator

### tupple:

### tupple: extras

In [ ]:
# tupple is heterogenious

tupple_1 = (1, "a", {1, 2}, [1, 2], (1,2))
print(f"{tupple_1=}")

In [ ]:
# how to access tupple elements

t1 = (1,2,3)
for i in t1:
    print(i)

## Collection - set():

1. store unique value and hashable value
2. set element can't be changed

In [ ]:
a = {1,99,2,97, 5,2}
print(a, type(a))

{1, 2, 99, 97, 5} <class 'set'>

## Collection - dict():

In [ ]:
dict1 = {"key1": "val1", "key2": "val2"}

### access dict elements:

In [ ]:
for k in dict1:
    print(k)

key1
key2

In [ ]:
for k in dict1.keys():
    print(k)

key1
key2

In [ ]:
for val in dict1.values():
    print(val)

val1
val2

In [ ]:
for key, val in dict1.items():
    print(f"key: {key}, val: {val}")

key: key1, val: val1
key: key2, val: val2

### Dict: extras

# Iterator:

1. list, tuple, set, dict all are iterable obj
2. iterable obj consists of \_\_iter__() and \_\_next__()

In [ ]:
dict2 = iter(dict1)

print(type(dict1))
print(type(dict2))

<class 'dict'>
<class 'dict_keyiterator'>

In [ ]:
for i in dict2:
    print(i, type(i))

key1 <class 'str'>
key2 <class 'str'>

# Enumerate:

1. Its work on itarable obj and give counter value

In [4]:
s = "I love India"

for index, element in enumerate(s, 1):
    print(f"{index}-{element}", end=", ")

1-I, 2- , 3-l, 4-o, 5-v, 6-e, 7- , 8-I, 9-n, 10-d, 11-i, 12-a,

# Operators:

1. Python operators
2. operators types
3. operator precedence
4. operator associativity

## Arithmetic Operator:

In [ ]:
a = 1 + 2  # addition
b = 4 - 2  # subtraction
c = 8 / 2  # division to get quotient
d = 10 % 3  # modulus to get reminder
e = 2 ** 3  # power or exponent
f = -7//2

print(a, b, c,d,e,f)

3 2 4.0 1 8 -4

## Comparison Operator:

```python
1. ==
2. !=
3. >
4. <
5. >=
6. >=
```

## Logical Operator:

1. and
2. or
3. not

## Compared with "is" and "==":
“is keyword” is used to test whether two variables belong to the same object.

In [ ]:
a=-6
b=-6

if a is b:
    print(f"same object")
else:
    print(f"not same object")

if a == b:
    print(f"same value")
else:
    print(f"not same value")

# functions:

1. Python function is an object
2. by default, its return None object

In [ ]:
def _square(val: int) -> int:
    return val**2

In [ ]:
print(_square(5))

25

## call child function inside a parent function

In [ ]:
# parent funct defined
def _compute(power_type: int) -> int:

    # child function defined
    def _power_func(val: int) -> int:
        return val**power_type

    # return the child function
    return _power_func

## store function into a variable as object

In [ ]:
square = _compute(2)  # creating a square function
cube = _compute(3)  # creating a cube function
quad = _compute(4)  # creating a quad function

In [ ]:
print(square(5))
print(cube(5))
print(quad(5))

25
125
625

## pass function as a parameter

In [ ]:
def _whisper(text):
    return text.lower()

def greet(func):
    msg = func("Hello The Data Fest AI")  # all the capital letter will be lower in output
    print(msg)

greet(_whisper)

hello the data fest ai

## Decorator:

In [ ]:
def calculate_time(func):
    import time
    def _inner(*args, **kwargs):
        begin_time = time.time()
        out = func(*args, **kwargs)  # passed func, called
        end_time = time.time()
        print(f"funtion `{func.__name__}` had taken {end_time-begin_time}s")
        return out
    return _inner

In [ ]:
import math
import time

@calculate_time
def fractorial(val):
    time.sleep(2)
    return math.factorial(val)

print(fractorial(5))

funtion `fractorial` had taken 2.0020930767059326s
120

## Monkey Patching:

Its similar to assigning another function to other function

In [ ]:
class A:
    def test_a(self):
        print("test_a has been called")

def test_b(any_param):
    print("test_b has been called")

A.test_a = test_b  # function assigned to another function

obj = A()
obj.test_a()  # will print test_b instead of test_a

test_b has been called

# class and object:

In [ ]:
class Sample(object):
    pass

In [ ]:
class Person:
    total_count = 0
    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.total_count += 1

In [ ]:
person1 = Person("indra", 25)
person2 = Person("bua", 26)

print(f"{Person.total_count} persons created")

2 persons created

## Abstract Class and Method:

Ref:
1. https://ioflood.com/blog/python-abstract-class/

In [ ]:
from abc import ABC, abstractmethod

# abstract class
class PersonAbstract(ABC):
    # this abstractmethod needs to be override in child class
    @abstractmethod
    def is_senior_citizen(self):
        pass

# child class, which inherited the person abstract class
# and its `not override` the is_senior_citizen() abstract method
class WrongPerson(PersonAbstract):
    def __init__(self, name, age):
        self.name = name
        self.age = age

# child class, which inherited the person abstract class
# and its override the is_senior_citizen() abstract method
class Person(PersonAbstract):
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def is_senior_citizen(self):
        if self.age > 60:
            print(f"{self.name} is senior citizen")
        else:
            print(f"{self.name} is not senior citizen")

```python
# This will generate the error, as we have not override the abstract method
# p1 = WrongPerson("indra", 61)

"""
TypeError: Can't instantiate abstract class WrongPerson with abstract method is_senior_citizen
"""
```

In [ ]:
p1 = Person("indra", 61)
p1.is_senior_citizen()

p2 = Person("Devashish", 26)
p2.is_senior_citizen()

indra is senior citizen
Devashish is not senior citizen

## Inheritance:

In [ ]:
# Inherited Person class
class Employee(Person):
    def __init__(self, name, age, joining_year):
        # using super() we can access parent class methods
        super().__init__(name, age)
        self.joining_year = joining_year

    def is_eligible_for_pension(self):
        if self.joining_year > 2003:
            print(f"{self.name} is not eligible for pension")
        else:
            print(f"{self.name} is eligible for pension")

In [ ]:
emp1 = Employee("indra", 24, 2014)
emp1.is_senior_citizen()  # child obj can access parent class methods
emp1.is_eligible_for_pension()  # child obj can access child class methods

indra is not senior citizen
indra is not eligible for pension

## MRO (method resolution order):

## class method and static method:

1. **class method**:
    1. A class method is a method that is bound to the class and not the object of the class.
    2. access to the state of the class as it takes a class parameter that points to the class and not the object instance.
    3. can modify a class state that would apply across all the instances of the class. For example, it can modify a class variable that will be applicable to all the instances.

2. **static method**:
    1. is also a method that is bound to the class and not the object of the class.
    2. This method can't access or modify the class state.
    3. to call static method, call through class

Class Method | Static Method
:--- | :---
generally use the class method to create factory methods. Factory methods return class objects ( similar to a constructor ) | generally use static methods to create utility functions
class method takes cls as the first paramete | static method needs no specific parameters
class method can access or modify the class state | static method can’t access or modify it.
use @classmethod decorator in python to create a class method | use @staticmethod decorator to create a static method in python

In [ ]:
class Customer:
    cust_count = 0

    def __init__(self, name):
        self.name = name
        Customer.cust_count += 1

    @classmethod  # class method decorator
    def _get_customer_count(cls):  # 1st arg is class not obj
        return f"total customer count {cls.cust_count}"

    @staticmethod  # static method decorator
    def _is_shopping_day(cur_temp):  # 1st arg is not pointing to obj or cls
        if 6 < cur_temp < 42:
            return "Its a shopping day"
        else:
            return "Its not a shopping day"

    def cur_cust_name(self):  # 1st arg is pointing to obj
        print(f"customer name is {self.name}")

In [ ]:
cust1 = Customer("indra")
cust1.cur_cust_name()

cust2 = Customer("pravin")
cust2.cur_cust_name()

print(Customer._get_customer_count())  # calling class method
print(Customer._is_shopping_day(25))  # calling static method

customer name is indra
customer name is pravin
total customer count 2
Its a shopping day

## Getter and Setter Property:

In [ ]:
class Laptop:
    def __init__(self):
        self._brand = "No Brand"

    @property
    def brand(self):
        print("getter called")
        return self._brand

    @brand.setter
    def brand(self, brand_name):
        print("setter called")
        self._brand = brand_name

l1 = Laptop()
print(l1.brand)
l1.brand = "HP"
print(l1.brand)

getter called
No Brand
setter called
getter called
HP

# exception handling

## raise error:

In [ ]:
age = 61

try:
    if age > 60:
        raise ValueError("age is more than 60")
except ValueError as e:
    print(f"value error generated: {e}")

value error generated: age is more than 60

## try-except-finally

In [ ]:
a = 10
try:
    b = a/0
    print(f"b: {b}")
except Exception as e:
    print(f"error occured: {e}")
finally:
    print(f"finally block")

## try-except-else-finally

In [ ]:
a = 10
try:
    b = a/2
    print(f"b: {b}")
except Exception as e:
    print(f"error occured: {e}")
else:
    print(f"no exception is there")
finally:
    print(f"finally block")

# data types and data structures

## matrics

In [ ]:
rows = 3
cols = 3
matrix = []

for i in range(rows):
    row = []
    for j in range(cols):
        row.append(i * cols + j)
    matrix.append(row)

for row in matrix:
    print(row)

[0, 1, 2]
[3, 4, 5]
[6, 7, 8]

### matrix multiplication

In [ ]:
matrix_a = [[1,2,3], [4,5,6], [7,8,9]]
matrix_b = [[9,8,7], [6,5,4], [3,2,1]]
result = [[0,0,0], [0,0,0], [0,0,0]]

for i in range(len(matrix_a)):
    for j in range(len(matrix_b[0])):
        for k in range(len(matrix_b)):
            result[i][j] += matrix_a[i][k] * matrix_b[k][j]

for i in result:
    print(i)

[30, 24, 18]
[84, 69, 54]
[138, 114, 90]

# Useful Python Functions:

## print()

In [ ]:
for i in range(1,12):
    print(i, end=", ")

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11,

## range()

In [ ]:
for i in range(2, 6, 2):
  print(i)

2
4

## len()

In [ ]:
a = [1,3,6,8]
print(len(a))

4

## sorted()

In [ ]:
a = [2,4,3,5,6,4,3]
print(sorted(a))

[2, 3, 3, 4, 4, 5, 6]

## max()

In [ ]:
print(max(a))

6

## sum()

In [ ]:
print(sum(a))

27

## del()

In [2]:
ls1 = [1,2,3]

del(ls1[2])  # delete 2nd index, element 3
ls1

[1, 2]

# Doubts and QnA: